<%- include ("../partials/header") %>
<%- include('../partials/navbarHero'); %>

<div class="finishied-video">
    <div class="finished-video-area">
        <video controls  src=""></video>
    </div>
    <div class="button-area-video">
        <button>Download video</button>
    </div>
</div>

<%- include('../partials/footer'); %>