<header>
    <nav class="navbar navbar-expand-lg fixed-top">
        <a class="navbar-brand" href="index.html"><img src="images/final_logo.png" alt="" style="width: 90px;"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"><i class="fa fa-bars"></i></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link"  href="https://visionogy.com/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link"  href="https://visionogy.com/templates.html">Templates</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="https://visionogy.com/pricing.html">Pricing</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"  href="https://visionogy.com/products.html">Products</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  href="javascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Resources
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="nav-link dropdown-item" id="main_site_item" href="https://visionogy.com/about.html">About</a>
                        <a class="nav-link dropdown-item" id="main_site_item" href="https://visionogy.com/blog-back.html">Blog</a>
                        <a class="nav-link dropdown-item" id="main_site_item" href="https://visionogy.com/contact.html">Contact</a>
                    </div>
                </li>
            </ul>
            <div class=" my-2 my-lg-0 singup_list">
                <a href="http://appd.visionogy.com" class="nav-link" target="_black" class="active">Login</a>&nbsp;&nbsp;&nbsp;&nbsp;
                <a class="active signup_btn" target="_blank" href="http://appd.visionogy.com/en/registration">Sign up</a>
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle"  href="javascript:void(0)" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-globe"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" id="main_site_item" href="https://visionogy.com">English</a>
                        <a class="dropdown-item" id="main_site_item" href="https://cn.visionogy.com">中文</a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <div class="banner">
        <div id="bannerPos">
            
            <div class="main-headline">
                <h4 id="headline-text">Free Trail</h4>
                <h2 id="headline-p">Make your video.</h2>
            </div>
        </div>
            
    </div>
</header>